*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: darkorange; */

}

.products {
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));   
    
    }

 .product {
    
    display: flex; 
    flex-wrap: wrap;
    } 

img{
width: 100%;
display: block;
/* background-color: aqua; */
}